<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CeremeetGameLauncher.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CeremeetGameLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CeremeetGameLauncher.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CeremeetGameLauncher.user" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CeremeetGameLauncher.Settings1>
            <setting name="asd" serializeAs="String">
                <value />
            </setting>
            <setting name="asdds" serializeAs="String">
                <value>asd</value>
            </setting>
        </CeremeetGameLauncher.Settings1>
        <CeremeetGameLauncher.Properties.Settings>
            <setting name="email" serializeAs="String">
                <value>asd</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>asd</value>
            </setting>
        </CeremeetGameLauncher.Properties.Settings>
        <CeremeetGameLauncher.Properties.Settings1>
            <setting name="email" serializeAs="String">
                <value>asd</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>asd</value>
            </setting>
        </CeremeetGameLauncher.Properties.Settings1>
        <CeremeetGameLauncher.user>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
        </CeremeetGameLauncher.user>
    </userSettings>
</configuration>